/* css by hussain */
.p-30 {
  padding-bottom: 30px;
}
.pl-0 {
  padding-left: 0px !important;
}
.t_cen {
    text-align: center;
}
.mt-130{
  margin-top: 130px; 
}

.py_main_div {
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.py_mode_sel_div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
}
.py_mode_tittle {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
    color: #a5a5a5;
    text-align: center;
    width: 100%;
}
.py_credit_link_div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 25px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dadada;
    background-color: #ebebeb;
    text-decoration: none;
    width: 50%;
}
.py_card_layout_div {
    width: 60%;
    padding-left: 0px;
    margin: auto;
}
.py_card_design {
    padding-right: 5%;
    padding-left: 5%;
    border: 1px solid #dadada;
    border-radius: 20px;
    background-color: #f9f9f9;
    margin-bottom: 50px;
}
.py_card_no_input_div {
    position: relative;
    display: block;
    width: 60%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.py_mob_div {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wdh_30 {
  width: 30%;
}
.w-65 {
  width: 65% !important;
}
.mar-0 {
  margin-bottom : 0px;
}
.none {
  display: none;
}
.otp_text {
  text-align: center;
  padding-bottom: 20px;
}
.padding-top-20 {
  padding-top: 40px;
  padding-bottom: 0px;
}
.w-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;  
}
.checkmark {
    position: absolute;
    /* top: 0; */
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
}
.sc_msg_div {
  margin: 0px;
  padding-top: 10px;
}
.sc_del_date{
  margin-bottom: 0px;
  margin-top: 0px;
}

/* On mouse-over, add a grey background color */

.w-checkbox:hover input~.checkmark {

  background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.w-checkbox input:checked~.checkmark {
    background-color: #ff676a
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.w-checkbox input:checked~.checkmark:after {

    display: block;
}


/* Style the checkmark/indicator */

  .w-checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);


}
.pd_cake_img_div {
  background-color: #fff;
}
.pd_cake_info_div {
  background-color: #f9f9f9;
}
.pd_cake_name {
  line-height: 1.2;
}

.checkdot {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */

.w-checkbox:hover input~.checkdot {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.w-checkbox input:checked~.checkdot {
  background-color: #0100ee;

}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkdot:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the indicator (dot/circle) when checked */

    .w-checkbox input:checked~.checkdot:after {

    display: block;
}


/* Style the indicator (dot/circle) */

    .w-checkbox .checkdot:after {

    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.sh_addr_align_div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    line-height: 22px;
    flex-direction: row;
}

.ad_item_name {
  text-align: center;
  text-transform: capitalize;
  
  padding: 10px 5px;
}
.ad_img {
  padding: 10px;
}
.ad_item_price {
  font-weight: 600;
  text-align: center;
}
.rup_10 {
  font-size: 10px;
}
.ad_button {
  margin-bottom: 0px;
}
.ad-chk {
  left: 50%;
  margin-top: 10px;
  margin-left: -10px;
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** hidden search field **/

#searchbar {
  font-size: 8px;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
  float: right;
  width: 450px;
  height: 62px;
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

}

.s {
    display: block;
    width: 88%;
    border: 0;
    outline: none;
    padding: 0;
    height: 60px;
    line-height: 60px;
    font-size: 3.0em;
    font-weight: bold;
    color: #676767;
}

#searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #717171;
    border: 0;
    outline: none;
    cursor: pointer;
}

.cake_name_link {
    overflow: hidden;
    width: 100%;
    height: 46px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 15px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.zoomWindow {
  border: 2px solid rgb(211, 211, 211) !important;
}
.thats_all {
  font-size: 20px;
  color: #ff676a;
  font-weight: 500;
  padding-bottom: 20px;
}
.pd_disc_price{
  width: 55px;
}

.pd_cake_fianl_price {
  padding-left: 0px;
}
.sc_order_list_div {
  padding-bottom: 20px;
}
.con_div {
  line-height: 1.5;
}

@media (max-width: 767px) {
  .trending_tabs_menu {
    width: 100%;
  }
  .cake_category {
    display: inline-block;
    font-size: 14px;
  }
  .cake_name_link {
    overflow: hidden;
    width: 100%;
    height: 55px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
  .card_price_div {
    padding-top: 10px;
  }
  .pd_disc_price {
    width: 35px;
  }
  .card_cake_view_detail {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 10px;
    margin-left: 10px;
  }
  .card_cake_info {
      position: static;
      width: 100%;
      text-overflow: ellipsis !important;
  }
  ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 14px !important;
  }

  ::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 14px !important;
  }

  :-ms-input-placeholder {
      /* IE 10+ */
      font-size: 14px !important;
  }

  :-moz-placeholder {
      /* Firefox 18- */
      font-size: 14px !important;
  }
  .subscribe-form-block {
    display: none;
  }
  .subscribe_subtittle {
      font-size: 15px;
  }
  .social_div {
      display: block;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  .social_icon {
      width: 15px;
      margin-right: 10px;
      margin-left: 10px;
  }
  .category_main_section {
      margin-top: 120px;
      padding-right: 0%;
      padding-left: 0%;
      background-color: #fff6f5;
  }
  .pd_main_section {
    margin-top: 85px;
  }
  .pd_cake_weight.selected {
    width: 50px;
    height: 50px;
  }











}


@media only screen and (max-width: 992px) {
  .otp_text {
    text-align: start;
    padding-bottom: 20px;
  }
  .py_mob_div {
    width: 100%;
    flex-direction: column;
  }
  .sh_pay_button_align {
    justify-content: start;
  }
  .py_otp_div {
    display: flex !important;
    padding-top: 30px;
    align-content: start;
  }
  .martp-30_mob {
    margin-top: 30px;
  }
  .py_card_no_input_div {
    width: 90%;
  }
  .py_card_layout_div {
      width: 90%;
  }
  .py_mode_sel_div {
      width: 100%;
  }
  .card_trending_div {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      justify-content: left;
  }

}
