<div class="subscribe_sec">
    <div class="subscrbe_container w-container">
      <div class="subscribe-form-block w-form">
        <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="subscribe_form">
          <!-- <input type="email" class="subscribe_jinp_box w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Enter Your Email Address " id="name-2">
          <input type="submit" data-wait="Please wait..." value="." class="subscribe_btn w-button"> -->
        </form>
          <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="subscribe_div">
        <div class="subscribe_tittle">there&#x27;s is always room for some more<br>.</div>
        <div class="subscribe_subtittle">Get 2% CakeWeb credits on every order</div>
      </div>
    </div>
  </div>